<div class="container">
  <div style="width:70%;">
    <h1>
      Contact 
      <a [routerLink]="['/details/', currentUser.username]">
        {{currentUser.username}}
      </a>
    </h1>
    <img [src]="currentUser.img"  />
    <br />
    <h4 *ngIf="currentUser!=undefined">
      {{currentUser.getInitials()}}
    </h4>
    <cite>To: &nbsp; &nbsp; </cite> 
    <span><b>{{currentUser.email}}</b></span>
    <hr>
    <br />
    <div class="container">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <p>
          <mat-form-field appearance="legacy">
            <input matInput name="subject" 
              ngModel required placeholder="Subject" 
              #subject="ngModel" />
            <br/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy">
            <input matInput name="body" 
            ngModel required placeholder="Email Body" 
            #body="ngModel" />
          </mat-form-field>
          <br/>
        </p>
        <button mat-raised-button color="primary" type="submit">SEND</button>
      </form>
    </div>
    <button mat-raised-button color="accent" [routerLink]="['']" >All Users</button>
  </div>
</div>